<main class="container-fluid d-flex justify-content-between align-items-center gap-5 my-2 wheatBg">
  <div class="d-flex flex-column col-6 align-self-start">
    <div class="d-flex justify-content-between align-items-center mt-4">
      <h3>Eventos</h3>
      <pages-events-button-create-event></pages-events-button-create-event>
    </div>
    <pages-events-event-filter [categories]="this.categories" [subcategories]="this.subcategories"
                               [cities]="this.cities" (cityNameEmitter)="addCityToFilter($event)"
                               (categoryIdEmitter)="categoryReceived($event)"
                               (subcategoryIdEmitter)="addSubcategoryToFilter($event)"></pages-events-event-filter>
    <pages-events-events-list [events]="this.events" [loading]="this.loading"></pages-events-events-list>
  </div>
  <div class="d-flex flex-column justify-content-center col-5 me-auto ms-5 gap-2 py-2">
    <pages-events-event-img></pages-events-event-img>
    <pages-events-location-map></pages-events-location-map>
  </div>
</main>
