<img src="{{this.location}}" class="rounded-2 w-100" alt="place of the event">
<div class="mb-3">
  <label>Dirección:</label>
  <input type="text" [formControl]="addressControl" class="form-control" placeholder="Introduce una dirección">
</div>

@if (suggestions.length > 0) {
  <ul class="list-group">
    @for (suggestion of suggestions; track $index) {
      <li class="list-group-item list-group-item-action"
          (click)="selectSuggestion(suggestion)">
        {{ suggestion.display_name }}
      </li>
    }
  </ul>
}

<div id="map" style="height: 300px; margin-top: 20px;"></div>


