.navbar {
  height: 5rem;
  background-color: var(--gold);
}

li {
  cursor: pointer;
}
ul li{
  background-color: white;
}

li img {
  height: 50px;
  width: 50px;
}

ul a{
  background-color: white;
}

ul a:hover{
  background-color: var(--wheat-over);
}

@media (min-width: 768px) {
  ul a{
    background-color: var(--wheat-over);
  }

  ul a:hover{
    background-color: var(--wheat);
  }

  ul li{
    background-color: var(--wheat-over);
  }
}
