<div class="card mb-2" (click)="emitEvent()">
  <div class="row g-0 gap-4 d-flex flex-column flex-lg-row align-items-lg-center">
    <div class="col-lg-4 col-12 d-flex justify-content-center">
      <img src="{{ this.imgUrl }}{{this.event.image_url}}" class="img-fluid rounded-2 m-2"
           alt="picture of an event" (error)="onImageError($event)">
    </div>
    <div class="col-lg-7 col-12">
      <div class="card-body">
        <h5 class="card-title">{{ this.event.title }}</h5>
        <p class="card-text">Descripción: {{ this.event.description }}</p>
        <div class="row">
          <div class="col-4">
            <p class="card-text">Categoría: {{ this.categories.at(this.event.category_id - 1)?.name }}</p>
            <p class="card-text">Subcategoría: {{ this.subcategories.at(this.event.subcategory_id - 1)?.name }}</p>
            <p class="card-text">Dirección: {{ this.resumedLocation }}</p>
          </div>
          <div class="col-4">
            <p class="card-text">Fecha: {{ this.esFormatDate }}</p>
            <p class="card-text">Hora Inicio: {{ this.event.start_time.slice(0, 5) }}</p>
            @if (event.end_time) {
              <p class="card-text">Hora Fin: {{ this.event.end_time.slice(0, 5) }}</p>
            } @else {
              <p class="card-text">Hora Fin: Desconocida</p>
            }
          </div>
          <div class="col-4">
            <p class="card-text">Mín Personas: {{ this.event.min_participants }}</p>
            <p class="card-text">Máx Personas: {{ this.event.max_participants }}</p>
            <p class="card-text">Precio: {{ this.event.price }}€</p>
            <pages-events-join-button [event]="this.event" class="me-1"></pages-events-join-button>
            <pages-events-delete-button [event]="this.event" class="me-1"></pages-events-delete-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

