<div class="card mb-2" (click)="emitEvent(this.event.image_url)">
  <div class="row g-0 gap-4 d-flex align-items-center">
    <div class="col-4">
      <img src="http://localhost:8000{{this.event.image_url}}" class="img-fluid rounded-2 m-2" alt="picture of an event">
    </div>
    <div class="col-7">
      <div class="card-body">
        <h5 class="card-title">{{this.event.title}}</h5>
        <p class="card-text">Descripción: {{this.event.description}}</p>
        <div class="row">
          <div class="col-4">
            <p class="card-text">Categoría: {{this.event.category_id}}<span id="date"></span></p>
            <p class="card-text">Subcategoría: {{this.event.subcategory_id}}<span id="time"></span></p>
            <p class="card-text">Dirección: {{this.event.location}}<span id="time"></span></p>
          </div>
          <div class="col-4">
            <p class="card-text">Fecha: {{this.event.date}}<span id="price"></span></p>
            <p class="card-text">Hora Inicio: {{this.event.start_time}}<span id="price"></span></p>
            <p class="card-text">Hora Fin: {{this.event.end_time}}<span id="seats"></span></p>
          </div>
          <div class="col-4">
            <p class="card-text">Mín Personas: {{this.event.min_participants}}<span id="date"></span></p>
            <p class="card-text">Máx Personas: {{this.event.max_participants}}<span id="date"></span></p>
            <p class="card-text">Precio: {{this.event.price}}€<span id="time"></span></p>
          <pages-events-join-button [eventId]="this.event.id"></pages-events-join-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
