<main class="container-fluid d-flex flex-column align-items-center pt-2 flex-grow-1 wheatBg">
  <h2 class="bg-white rounded-top-2 p-2 mb-0 fw-bold">¿Qué es Easy Meet?</h2>
  <div class="rounded-2 p-2 bg-white">
    <p>Easy Meet nace con la idea de ayudar a gente introvertida, tímida o que
      por algún otro motivo necesite encontrar gente con una afición en común
      para poder hacer planes juntos. <br>
      <strong>¿Quién podría necesitar Easy Meet?</strong> Fácil, todo el mundo. Tienes tu grupo de amigos
      pero descubres una nueva afición y a ese grupo de amigos no les gusta? ¿Eres nuevo
      en la ciudad y no conoces a nadie? ¿Eres tímido y te cuesta conocer gente nueva?
      ¿Habéis encontrado una actividad pero necesitaáis más gente para poder hacerla? Si
      en alguna de estas preguntas te has sentido identificado, ¡es el momento de utilizar
      Easy Meet! <br><br>
      Preparar un plan es tan sencillo como iniciar sesión y publicar tu evento, esperar a
      que se unan otras personas y podréis charlar antes incluso de veros, así la toma de contacto
      viene echa ya de casa. <br>
      ¿Eres más de dejarte llevar? No te preocupes, puedes buscar eventos que se adapten a tus
      gustos y unirte a ellos. <br>
      Todo ello desde la seguridad de la verificación de identidad de los usuarios y la
      posibilidad de reportar eventos inapropiados. <strong>¡Sentirse seguro es lo primero!</strong><br>
    </p>
  </div>
  <h2 class="bg-white rounded-top-2 p-2 mt-2 mb-0 fw-bold">Autor de Easy Meet</h2>
  <div class="card mb-2 w-100 border-0">
    <div class="row">
      <div class="col-2 pe-0 text-center">
        <img src="assets/img/fotoSalvador.jpg" class="rounded-2 m-2" alt="foto Salvador">
      </div>
      <div class="col ps-0">
        <div class="card-body mt-3">
          <h3 class="card-title">Salvador Pérez Ranchal</h3>
          <p class="card-text">Programador web junior. Espero que
            disfrutéis de la web y podáis encontrar a gente para
            hacer todos los planes que teníais en mente.
          </p>
          <div class="row">
            <div class="col-4">
              <p class="card-text d-flex gap-2"><strong>Redes Sociales:</strong>
                <a href="https://www.linkedin.com/in/salvador-perez-ranchal/" target="_blank">
                  <img src="assets/css/linkedin.png" alt="logotipo linkedin"></a>
                <a href="https://github.com/SalvadorPR97" target="_blank">
                  <img src="assets/css/github.png" alt="logotipo github"></a>
                <a href="mailto:s.perezranchal@gmail.com" target="_blank">
                  <img src="assets/css/gmail.png" alt="logotipo de Gmail"></a>
              </p>
              <p class="card-text"><strong>Ubicación: </strong>Málaga</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
