<footer class="d-flex gap-5 mt-4 p-3 pb-0">
  <div class="d-flex flex-column gap-3">
    <a href="" class="text-center"><img src="assets/css/logoEasyMeet.png" alt="logotipo de easy meet" class="logo"></a>
    <div class="d-flex gap-1">
      <a href="https://www.instagram.com/easyMeetSL/"><img src="assets/css/002-instagram.png"
                                                           alt="logotipo de instagram"></a>
      <a href="https://x.com/easyMeetSL"><img src="assets/css/005-gorjeo.png"
                                              alt="logotipo de X, antes twitter"></a>
      <a href="https://www.tiktok.com/@easyMeetSL"><img src="assets/css/004-tik-tok.png"
                                                        alt="logotipo de Tiktok"></a>
      <a href="mailto:easymeet@gmail.com"><img src="assets/css/gmail.png" alt="logotipo de Gmail"></a>
    </div>
  </div>
  <div>
    <h3>Acceso Rápido</h3>
    <ul class="list-unstyled mb-2">
      <li><a href="/eventos">Eventos</a></li>
      <li>
        <a href="/events?distance=near">Eventos cerca de tí</a>
      </li>
      <li><a href="/events?type=music">Conciertos</a></li>
      <li>
        <a href="/events?type=scaperoom">Scape rooms</a>
      </li>
    </ul>
  </div>
  <div>
    <h3>Secciones</h3>
    <ul class="list-unstyled mb-2">
      <li><a href="/howItWorks">¿Cómo funciona?</a></li>
      <li><a href="/whoWeAre">¿Quiénes Somos?</a></li>
      <li><a href="/contact">Contacto</a></li>
      <li><a href="/colaborate">Colabora</a></li>
    </ul>
  </div>
</footer>
