:root {
  --brown-sugar: #B87B5C;
  --wheat: #F4DDB8;
  --moss-green: #91A756;
  --chestnut: #90533B;
  --gold: #DA983C;
  --dark-fern: #495235;
  --wheat-over: #F4DDB880;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  font-family: Verdana, serif;
}

app-root {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.logo {
  width: 80px;
}

.wheatBg{
  background-color: var(--wheat);
}

.btnForm{
  background-color: var(--moss-green) !important;
  color: white !important;
}
